@import url("https://fonts.googleapis.com/css2?family=Bokor&display=swap");

.titleText {
  color: white;
  font-size: 80px;
  font-family: "Helvetica", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.pageTitle {
  font-size: 5em;
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

.bodyText {
  font-size: 18px;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}

.navText {
  line-height: 1.5;
  font-weight: 500;
}

.navText:hover {
  color: red;
}

.layoutDescription {
  color: white;
}
